.solicitudes {
    background-color: #bca37f;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.solicitudes .div-2 {
    background-color: #bca37f;
    height: 2410px;
    position: relative;
    width: 100%;
}

.solicitudes .overlap-2 {
    height: 686px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.solicitudes .fondo-header {
    background-color: #fff2d8;
    height: 686px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}

.solicitudes .ellipse {
    background-color: #bca37f;
    border-radius: 195.5px/200px;
    height: 400px;
    left: 1178px;
    position: absolute;
    top: -215px;
    width: 391px;
}

.solicitudes .btn-home-wrapper {
    background-color: #ead7bb;
    border-radius: 226px;
    height: 452px;
    left: -179px;
    position: absolute;
    top: 381px;
    width: 452px;
}

.solicitudes .btn-home {
    height: 60px;
    left: 226px;
    position: relative;
    top: 196px;
    width: 177px;
}

.solicitudes .overlap-group-2 {
    border-radius: 5px;
    height: 60px;
    position: relative;
}

.solicitudes .design-component-instance-node {
    left: 0 !important;
    padding: 15px 70px 15px 30px !important;
    position: absolute !important;
    top: 0 !important;
}

.solicitudes .casa {
    height: 38px;
    left: 123px;
    object-fit: cover;
    position: absolute;
    top: 11px;
    width: 38px;
}

.solicitudes .btn-crear {
    height: 60px;
    left: 1117px;
    position: absolute;
    top: 577px;
    width: 289px;
}

.solicitudes .anadir {
    height: 37px;
    left: 240px;
    object-fit: cover;
    position: absolute;
    top: 11px;
    width: 37px;
}

.solicitudes .text-wrapper-9 {
    color: #000000;
    font-family: "Quando-Regular", Helvetica;
    font-size: 96px;
    font-weight: 400;
    left: 422px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 180px;
    width: 633px;
}

.solicitudes .text-wrapper-10 {
    color: #00000080;
    font-family: "Quando-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 563px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 585px;
    width: 384px;
}

.solicitudes .header-instance {
    background-color: transparent !important;
    left: 0 !important;
    position: absolute !important;
    top: 0 !important;
}

.solicitudes .header-2 {
    color: #00000080 !important;
}

.solicitudes .header-3 {
    color: #000000 !important;
}

.solicitudes .frame-2 {
    background-color: #ead7bb;
    border-radius: 20.18px;
    height: 364px;
    left: 33px;
    overflow: hidden;
    position: absolute;
    top: 735px;
    width: 427px;
}

.solicitudes .text-wrapper-11 {
    color: #113946;
    font-family: "Quando-Regular", Helvetica;
    font-size: 32.3px;
    font-weight: 400;
    left: 131px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 14px;
    white-space: nowrap;
    width: 161px;
}

.solicitudes .div-wrapper {
    background-color: #fff2d8;
    border-radius: 0px 20.18px 20.18px 0px;
    height: 181px;
    left: 193px;
    overflow: hidden;
    position: absolute;
    top: 90px;
    width: 211px;
}

.solicitudes .text-wrapper-12 {
    color: #00000080;
    font-family: "Quando-Regular", Helvetica;
    font-size: 19.4px;
    font-weight: 400;
    left: 51px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 75px;
    width: 111px;
}

.solicitudes .frame-wrapper {
    background-color: #bca37f;
    border-radius: 20.18px 0px 0px 20.18px;
    height: 181px;
    left: 25px;
    position: absolute;
    top: 90px;
    width: 168px;
}

.solicitudes .frame-3 {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 8.07px;
    left: 4px;
    padding: 8.07px;
    position: relative;
    top: 5px;
}

.solicitudes .rectangle-wrapper {
    align-items: flex-start;
    border: 4.04px dashed;
    border-color: #000000;
    border-radius: 20.18px;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 8.07px;
    padding: 32.28px 16.14px;
    position: relative;
}

.solicitudes .img {
    height: 90.39px;
    object-fit: cover;
    position: relative;
    width: 115.8px;
}

.solicitudes .btn-ver {
    height: 48px;
    left: 153px;
    position: absolute;
    top: 293px;
    width: 118px;
}

.solicitudes .overlap-group-3 {
    border-radius: 4.04px;
    height: 48px;
    position: relative;
}

.solicitudes .btn-dona-instance {
    font-size: 19.4px !important;
    margin-top: -0.81px !important;
}

.solicitudes .btn-dona-2 {
    border-radius: 4.04px !important;
    gap: 8.07px !important;
    left: 0 !important;
    padding: 12.11px 56.5px 12.11px 24.21px !important;
    position: absolute !important;
    top: 0 !important;
}

.solicitudes .ojo {
    height: 32px;
    left: 74px;
    object-fit: cover;
    position: absolute;
    top: 8px;
    width: 32px;
}

.solicitudes .frame-4 {
    background-color: #ead7bb;
    border-radius: 20.18px;
    height: 364px;
    left: 507px;
    overflow: hidden;
    position: absolute;
    top: 733px;
    width: 427px;
}

.solicitudes .frame-5 {
    background-color: #ead7bb;
    border-radius: 20.18px;
    height: 364px;
    left: 981px;
    overflow: hidden;
    position: absolute;
    top: 733px;
    width: 427px;
}

.solicitudes .frame-6 {
    background-color: #ead7bb;
    border-radius: 20.18px;
    height: 364px;
    left: 37px;
    overflow: hidden;
    position: absolute;
    top: 1565px;
    width: 427px;
}

.solicitudes .frame-7 {
    background-color: #ead7bb;
    border-radius: 20.18px;
    height: 364px;
    left: 511px;
    overflow: hidden;
    position: absolute;
    top: 1563px;
    width: 427px;
}

.solicitudes .frame-8 {
    background-color: #ead7bb;
    border-radius: 20.18px;
    height: 364px;
    left: 985px;
    overflow: hidden;
    position: absolute;
    top: 1563px;
    width: 427px;
}

.solicitudes .frame-9 {
    background-color: #ead7bb;
    border-radius: 20.18px;
    height: 364px;
    left: 35px;
    overflow: hidden;
    position: absolute;
    top: 1150px;
    width: 427px;
}

.solicitudes .frame-10 {
    background-color: #ead7bb;
    border-radius: 20.18px;
    height: 364px;
    left: 509px;
    overflow: hidden;
    position: absolute;
    top: 1148px;
    width: 427px;
}

.solicitudes .frame-11 {
    background-color: #ead7bb;
    border-radius: 20.18px;
    height: 364px;
    left: 983px;
    overflow: hidden;
    position: absolute;
    top: 1148px;
    width: 427px;
}

.solicitudes .footer-instance {
    left: 0 !important;
    position: absolute !important;
    top: 2065px !important;
}

.solicitudes .footer-2 {
    margin-bottom: -5px !important;
    margin-top: -9px !important;
}
