.home {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.home .div-2 {
    background-color: #ffffff;
    height: 7421px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.home .overlap-2 {
    height: 2724px;
    left: -198px;
    position: absolute;
    top: 4697px;
    width: 1817px;
}

.home .fondo-azul {
    background-color: #113946;
    height: 2724px;
    left: 180px;
    position: absolute;
    top: 0;
    width: 100%;
}

.home .perfil-ayuda {
    height: 922px;
    left: 0;
    position: absolute;
    top: 136px;
    width: 1590px;
}

.home .p {
    color: #ffffff;
    font-family: "Cantata One-Regular", Helvetica;
    font-size: 50px;
    font-weight: 400;
    left: 760px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: right;
    top: 302px;
    width: 826px;
}

.home .text-wrapper-10 {
    color: #ffffff;
    font-family: "Quando-Regular", Helvetica;
    font-size: 80px;
    font-weight: 400;
    left: 873px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-shadow: 0px 4px 4px #00000040;
    top: 0;
}

.home .overlap-3 {
    height: 725px;
    left: 0;
    position: absolute;
    top: 53px;
    width: 725px;
}

.home .ellipse {
    height: 725px;
    left: 198px;
    position: absolute;
    top: 0;
    width: 527px;
}

.home .ellipse-2 {
    background-color: #fff2d8;
    border-radius: 328px;
    height: 656px;
    left: 0;
    position: absolute;
    top: 26px;
    width: 656px;
}

.home .usuario {
    height: 351px;
    left: 240px;
    object-fit: cover;
    position: absolute;
    top: 137px;
    width: 351px;
}

.home .btn {
    height: 100px;
    left: 1262px;
    position: absolute;
    top: 822px;
    width: 236px;
}

.home .overlap-group-2 {
    border-radius: 8.42px;
    height: 100px;
    position: relative;
}

.home .btn-solicitar-instance {
    border-radius: 8.42px !important;
    gap: 16.83px !important;
    left: 0 !important;
    padding: 25.25px 110px 25.25px 25.5px !important;
    position: absolute !important;
    top: 0 !important;
}

.home .design-component-instance-node {
    font-size: 40.4px !important;
    margin-top: -1.68px !important;
}

.home .avion-de-papel {
    height: 63px;
    left: 154px;
    object-fit: cover;
    position: absolute;
    top: 18px;
    width: 63px;
}

.home .dona-tu-ayuda {
    height: 858px;
    left: 246px;
    position: absolute;
    top: 1283px;
    width: 1571px;
}

.home .overlap-4 {
    height: 725px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1567px;
}

.home .ellipse-3 {
    height: 725px;
    left: 837px;
    position: absolute;
    top: 0;
    width: 100%;
}

.home .text-wrapper-11 {
    color: #ffffff;
    font-family: "Quando-Regular", Helvetica;
    font-size: 50px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 259px;
    width: 100%;
}

.home .ellipse-4 {
    background-color: #bca37f;
    border-radius: 331.5px;
    height: 663px;
    left: 904px;
    position: absolute;
    top: 31px;
    width: 663px;
}

.home .donacion {
    height: 351px;
    left: 1002px;
    object-fit: cover;
    position: absolute;
    top: 196px;
    width: 351px;
}

.home .text-wrapper-12 {
    color: #ffffff;
    font-family: "Quando-Regular", Helvetica;
    font-size: 80px;
    font-weight: 400;
    left: 27px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-shadow: 0px 4px 4px #00000040;
    top: 97px;
    width: 770px;
}

.home .overlap-group-wrapper {
    height: 100px;
    left: 243px;
    position: absolute;
    top: 757px;
    width: 236px;
}

.home .footer-instance {
    left: 198px !important;
    position: absolute !important;
    top: 2379px !important;
}

.home .footer-2 {
    margin-bottom: -5px !important;
    margin-top: -9px !important;
}

.home .overlap-5 {
    height: 627px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.home .fondo-header {
    background-color: #fff2d8;
    height: 627px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}

.home .overlap-group-3 {
    height: 792px;
    left: 823px;
    position: absolute;
    top: -215px;
    width: 746px;
}

.home .ellipse-5 {
    background-color: #bca37f;
    border-radius: 195.5px/200px;
    height: 400px;
    left: 355px;
    position: absolute;
    top: 0;
    width: 391px;
}

.home .ellipse-6 {
    background-color: #ead7bb;
    border-radius: 226px;
    height: 452px;
    left: 0;
    position: absolute;
    top: 340px;
    width: 452px;
}

.home .image {
    height: 452px;
    left: 6px;
    object-fit: cover;
    position: absolute;
    top: 340px;
    width: 452px;
}

.home .text-wrapper-13 {
    color: #00000080;
    font-family: "Quando-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 230px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 415px;
    width: 384px;
}

.home .text-wrapper-14 {
    color: #000000;
    font-family: "Quando-Regular", Helvetica;
    font-size: 128px;
    font-weight: 400;
    left: 190px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 208px;
    white-space: nowrap;
    width: 464px;
}

.home .header-instance {
    background-color: transparent !important;
    left: 0 !important;
    position: absolute !important;
    top: 0 !important;
}

.home .header-2 {
    color: #00000080 !important;
}

.home .header-3 {
    color: #000000 !important;
}

.home .imagen {
    height: 760px;
    left: 181px;
    position: absolute;
    top: 3686px;
    width: 1111px;
}

.home .overlap-6 {
    height: 760px;
    position: relative;
}

.home .rectangle-2 {
    background-color: #113946;
    height: 604px;
    left: 45px;
    position: absolute;
    top: 156px;
    width: 1066px;
}

.home .image-2 {
    height: 706px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 1060px;
}

.home .overlap-wrapper {
    height: 697px;
    left: 190px;
    position: absolute;
    top: 1641px;
    width: 1102px;
}

.home .overlap-7 {
    height: 697px;
    position: relative;
}

.home .rectangle-3 {
    background-color: #113946;
    height: 648px;
    left: 57px;
    position: absolute;
    top: 49px;
    width: 1045px;
}

.home .image-3 {
    height: 644px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 1060px;
}

.home .solicitudes {
    height: 786px;
    left: 39px;
    position: absolute;
    top: 748px;
    width: 1554px;
}

.home .overlap-8 {
    height: 786px;
    left: 850px;
    position: absolute;
    top: 0;
    width: 700px;
}

.home .ellipse-7 {
    background-color: #ead7bb;
    border-radius: 350px;
    height: 700px;
    left: 0;
    position: absolute;
    top: 0;
    width: 700px;
}

.home .ellipse-8 {
    background-color: #bca37f;
    border-radius: 125px;
    height: 250px;
    left: 403px;
    position: absolute;
    top: 536px;
    width: 250px;
}

.home .solicitud-de {
    height: 330px;
    left: 185px;
    object-fit: cover;
    position: absolute;
    top: 159px;
    width: 330px;
}

.home .text-wrapper-15 {
    color: #000000;
    font-family: "Quando-Regular", Helvetica;
    font-size: 80px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: 20px;
    position: absolute;
    text-align: center;
    top: 82px;
    width: 560px;
}

.home .text-wrapper-16 {
    color: #000000;
    font-family: "Quando-Regular", Helvetica;
    font-size: 50px;
    font-weight: 400;
    left: 19px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 250px;
    width: 805px;
}

.home .div-wrapper {
    height: 122px;
    left: 187px;
    position: absolute;
    top: 600px;
    width: 280px;
}

.home .overlap-group-4 {
    border-radius: 10.17px;
    height: 122px;
    position: relative;
}

.home .btn-dona-instance {
    border-radius: 10.17px !important;
    gap: 20.33px !important;
    left: 0 !important;
    padding: 30.5px 130px 30.5px 30.5px !important;
    position: absolute !important;
    top: 0 !important;
}

.home .btn-dona-2 {
    font-size: 48.8px !important;
    margin-top: -2.03px !important;
}

.home .avion-de-papel-2 {
    height: 67px;
    left: 184px;
    object-fit: cover;
    position: absolute;
    top: 25px;
    width: 67px;
}

.home .donativos {
    height: 993px;
    left: -120px;
    position: absolute;
    top: 2530px;
    width: 1541px;
}

.home .overlap-9 {
    height: 993px;
    position: relative;
    width: 1537px;
}

.home .text-wrapper-17 {
    color: #000000;
    font-family: "Quando-Regular", Helvetica;
    font-size: 80px;
    font-weight: 400;
    left: 977px;
    letter-spacing: 0;
    line-height: 20px;
    position: absolute;
    text-align: center;
    top: 219px;
    width: 560px;
}

.home .overlap-10 {
    height: 993px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1480px;
}

.home .nete-a-nuestra {
    color: #000000;
    font-family: "Cantata One-Regular", Helvetica;
    font-size: 50px;
    font-weight: 400;
    left: 864px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: right;
    top: 337px;
    width: 616px;
}

.home .ellipse-9 {
    background-color: #bca37f;
    border-radius: 450px;
    height: 900px;
    left: 0;
    position: absolute;
    top: 0;
    width: 900px;
}

.home .ellipse-10 {
    background-color: #113946;
    border-radius: 93.5px/93px;
    height: 186px;
    left: 373px;
    position: absolute;
    top: 807px;
    width: 187px;
}

.home .donacion-2 {
    height: 512px;
    left: 207px;
    object-fit: cover;
    position: absolute;
    top: 161px;
    width: 512px;
}

.home .btn-2 {
    height: 122px;
    left: 1131px;
    position: absolute;
    top: 871px;
    width: 280px;
}
