.inicio-sesin {
    background-color: #fff2d8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.inicio-sesin .div-2 {
    background-color: #fff2d8;
    height: 1145px;
    position: relative;
    width: 100%;
}

.inicio-sesin .overlap-group-wrapper {
    height: 676px;
    left: 736px;
    position: absolute;
    top: 63px;
    width: 644px;
}

.inicio-sesin .overlap-group-2 {
    height: 676px;
    position: relative;
    width: 646px;
}

.inicio-sesin .rectangle-2 {
    background-color: #ead7bb;
    border-radius: 0px 30px 30px 0px;
    height: 676px;
    left: 0;
    position: absolute;
    top: 0;
    width: 642px;
}

.inicio-sesin .rectangle-3 {
    background-color: #bca37f;
    border-radius: 20px;
    box-shadow: 0px 4px 4px #00000040;
    height: 492px;
    left: 143px;
    position: absolute;
    top: 91px;
    width: 356px;
}

.inicio-sesin .img {
    height: 346px;
    left: 282px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 364px;
}

.inicio-sesin .flexcontainer {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 60px;
    height: 209px;
    left: 160px;
    position: absolute;
    top: 338px;
    width: 372px;
}

.inicio-sesin .text {
    align-self: stretch;
    color: #ffffff;
    font-family: "Cantata One-Regular", Helvetica;
    font-size: 80px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
    position: relative;
}

.inicio-sesin .text-wrapper-3 {
    color: #ffffff;
    font-family: "Cantata One-Regular", Helvetica;
    font-size: 80px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
}

.inicio-sesin .inicio-sesion {
    background-color: #bca37f;
    border-radius: 25px 0px 0px 25px;
    height: 676px;
    left: 80px;
    overflow: hidden;
    position: absolute;
    top: 63px;
    width: 656px;
}

.inicio-sesin .btn-ingresar {
    height: 60px;
    left: 58px;
    position: absolute;
    top: 573px;
    width: 209px;
}

.inicio-sesin .overlap-group-3 {
    border-radius: 5px;
    height: 60px;
    position: relative;
}

.inicio-sesin .design-component-instance-node {
    left: 0 !important;
    padding: 15px 70px 15px 30px !important;
    position: absolute !important;
    top: 0 !important;
}

.inicio-sesin .ingresar {
    height: 58px;
    left: 144px;
    object-fit: cover;
    position: absolute;
    top: 2px;
    width: 57px;
}

.inicio-sesin .btn-registrarse {
    height: 60px;
    left: 339px;
    position: absolute;
    top: 573px;
    width: 246px;
}

.inicio-sesin .editar {
    height: 44px;
    left: 189px;
    object-fit: cover;
    position: absolute;
    top: 8px;
    width: 45px;
}

.inicio-sesin .manos {
    height: 194px;
    left: 235px;
    object-fit: cover;
    position: absolute;
    top: 40px;
    width: 208px;
}

.inicio-sesin .div-3 {
    height: 198px;
    left: 146px;
    position: absolute;
    top: 298px;
    width: 401px;
}

.inicio-sesin .DUI {
    height: 88px;
    left: 0;
    position: absolute;
    top: 110px;
    width: 403px;
}

.inicio-sesin .overlap-group-4 {
    background-color: #ead7bb;
    border-radius: 10px;
    height: 50px;
    left: 0;
    position: absolute;
    top: 38px;
    width: 401px;
}

.inicio-sesin .rectangle-4 {
    background-color: #ffffffcc;
    border-radius: 10px 0px 0px 10px;
    height: 50px;
    left: 0;
    position: absolute;
    top: 0;
    width: 64px;
}

.inicio-sesin .user {
    height: 40px;
    left: 12px;
    object-fit: cover;
    position: absolute;
    top: 5px;
    width: 40px;
}

.inicio-sesin .text-wrapper-4 {
    color: #000000;
    font-family: "Cantata One-Regular", Helvetica;
    font-size: 30px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: 20px;
    position: absolute;
    top: 0;
    white-space: nowrap;
}

.inicio-sesin .usuario {
    height: 88px;
    left: 0;
    position: absolute;
    top: 0;
    width: 403px;
}

.inicio-sesin .user-2 {
    height: 40px;
    left: 9px;
    object-fit: cover;
    position: absolute;
    top: 5px;
    width: 47px;
}

.inicio-sesin .footer-instance {
    left: 0 !important;
    position: absolute !important;
    top: 800px !important;
}

.inicio-sesin .footer-2 {
    margin-bottom: -5px !important;
    margin-top: -9px !important;
}
